header {
  background:
  linear-gradient(-45deg, #6b7c6e, #5f4b3b, #8eb199, #7f6449);
  background-size: 400% 400%, cover;

  background-blend-mode: overlay;
  animation: gradient 40s ease infinite;
  min-height: 100vh;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 20px 60px;
  position: relative;
  overflow: hidden;
  padding-top: 100px;
}

header::before {
    content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 0;
}

header.blog-header {
  min-height: auto;
  background: #6b7c6e;
  animation: none;
  padding: 0px;
}


@keyframes gradient {
  0% {
  background-position: 0% 50%, center;
  }
  50% {
  background-position: 100% 50%, center;
  }
  100% {
  background-position: 0% 50%, center;
  }
}

.header-content {
  text-align: center;
  margin-bottom: 40px;
  padding-top: 45px;
  position: relative;
  z-index: 1;
}

.header-content h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 3.8rem;
  margin-bottom: -5px;
  font-weight: 700;
  color: #ffffff;
}

.header-content h2 {
  font-size: 1.2rem;
  margin-bottom: 50px;
  font-weight: 600;
  color: #ffffff;
}

.header-content a {
  background: linear-gradient(90deg, #bbae9b, #8eb199);
  color: #ffffff;
  padding: 14px 28px;
  text-decoration: none;
  border-radius: 30px;
  font-weight: 600;
  transition: all 0.5s ease;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: 1px solid #ece3dd;
  box-shadow: 0 2px 4px rgba(127, 100, 73, 0.1);
}

.header-content a::before {
    content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #8eb199, #bbae9b);
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: -1;
  border-radius: 30px;
}

.header-content a:hover {
  color: #7f6449;
  box-shadow: 0 4px 8px rgba(127, 100, 73, 0.2);
}

.header-content a:hover::before {
  opacity: 1;
}

.logo-central {
  width: 250px;
  margin-bottom: 20px;
  position: relative;
  transition: transform 0.3s ease;
}

section {
  padding: 80px 20px;
  max-width: 1200px;
  margin: auto;
}

section h2 {
  color: var(--verde);
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
}

section h5 {
  color: var(--marrom);
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
}

section p, section li, section ol {
  max-width: 800px;
  margin: auto;
  text-align: center;
  font-size: 1.1rem;
}

.carrossel-container {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.carrossel-cards {
  position: relative;
  height: 400px;
  width: 100%;
}

.carousel-item-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  border-radius: 15px;
  border: 1px solid var(--marrom);
  background: linear-gradient(to right, var(--verde), #ffffff);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
  pointer-events: none;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item-card.active {
  opacity: 1;
  pointer-events: auto;
}

.carousel-card-content {
  width: 90%;
  max-height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 0;
  overflow-y: auto;
}

.carousel-item-card h5 {
  color: var(--marrom);
  font-size: 1.5rem;
  margin-bottom: 15px;
  font-weight: 600;
  width: 100%;
}

.carousel-item-card p {
  color: var(--marrom);
  line-height: 1.6;
  margin: 10px 0;
  width: 100%;
}

.carrossel-indicador-posicao {
  text-align: center;
  margin-top: 25px;
  font-size: 1.2rem;
  color: var(--marrom);
  font-weight: 500;
  width: 100%;
}

/* Para tablets */
@media (max-width: 768px) {
  .header-content h1 {
    font-size: 2.5rem;
  }
  .header-content h2 {
    font-size: 0.7rem;
  }
}

/* Para celulares */
@media (max-width: 480px) {
  .header-content h1 {
    font-size: 2.5rem;
  }
}